body {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
	color: white;
}

#container-info {
	max-width: 300px;
	margin-left: 0px;
	margin-top: 10px;
}

.info-change {
	margin-bottom: 15px;
}

textarea {
	resize: none;
}

.change {
	margin-bottom: 20px;
}

.modal-dialog {
	max-width: 300px;
}

.form-control {
	margin-top: 10px;
	margin-bottom: 10px;
}

.class-div {
	width: 280px;
	height: 173px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
	background-color: rgba(221, 221, 221, 0.7);
	word-wrap: break-word;
	cursor:pointer;
}

#addclass {
	font-size: 70px;
	opacity: 0.3;
	
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
      
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
      
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
      
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;
  
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}