body {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
}

#work-area {
	margin-top: 100px;
}

#title {
	margin-bottom: 20px;
}

#content {
	margin-bottom: 20px;
}

#limit {
	padding-left: 10px;
	padding-right: 10px;
}

#ctl-area {
	margin-top: 100px;
}

.ctl-button {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

textarea {
	resize: none;
}

.upload-button {
    margin-bottom: 10px;
}

.file-input {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file-input input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file-input:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}